@media (max-width: 812px) {
  .section-heading {
    font-size: 6.4rem;
  }
  .carousel-video {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 470px) {
  .cta-text-box {
    width: auto;
    text-align: center;
  }
  .menu {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
}
