* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.header {
  width: 60vw;
  margin-top: 5rem;
  z-index: 10;
  position: fixed;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border: 1px dotted black;
}
.menu-btn {
  cursor: pointer;
}
.lines-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.line {
  border: 1px solid #fff;
  background-color: black;
  height: 100vh;
  width: calc(100vw / 10);
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: all 0.3s ease-in;
}

.line.open {
  /* position: absolute; */
  z-index: 5;
  top: 0;
  left: 0;
  transform: scaleY(1);
}
