* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}
/* general elements and animations */
.container {
  max-width: 1200px;
  margin: 4.8rem auto;
  margin-bottom: 7.2rem;
}
a:link,
a:visited {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
body {
  /* 1 rem = 10px */
  /* overflow-y: hidden; */
  background-color: #0d1117;
  background-image: linear-gradient(
    180deg,
    rgba(13, 17, 23, 1) 30%,
    rgba(141, 37, 39, 0.079) 74%,
    rgba(170, 41, 41, 0.074) 85%,
    rgba(224, 49, 49, 0.079) 100%
  );
  transition: all 1s linear;
}
.mb--sm {
  margin-bottom: 4.8rem;
}

.mb--md {
  margin-bottom: 8rem;
}

.mb--large {
  margin-bottom: 10.4rem;
}
.mb--xl {
  margin-bottom: 12.2rem;
}
.mt--sm {
  margin-top: 4.8rem;
}

.mt--md {
  margin-top: 8rem;
}

.mt--large {
  margin-bottom: 10.4rem;
}
.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-heading {
  font-size: 7.2rem;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #f8f9fa;
}
.page {
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
  /* overflow: scroll; */
}

.page.open {
  animation-name: slide-fwd-top;
}

.page.close {
  animation-name: slide-bck-bottom;
}

.btn {
  text-decoration: none;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 100px;
  cursor: pointer;
}

.btn--large {
  text-decoration: none;
  color: #212529;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  background-color: #f8f9fa;
  border-radius: 100px;
}
.btn--secondary {
  background-color: #343a40;
  color: #f8f9fa;
}

.btn--md {
  text-decoration: none;
  color: #212529;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  background-color: #f8f9fa;
  border-radius: 100px;
}
@keyframes slide-up {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-bck-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(0.95);
    transform-origin: 50% 100%;
  }
}

@keyframes slide-fwd-top {
  0% {
    transform: scale(0.95);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

/* Header */

.header {
  width: 90vw;
  margin-top: 1rem;
  z-index: 100;
  position: fixed;
  /* background-color: white; */
  left: 50%;
  transform: translate(-50%);
}

.menu-icon-open {
  height: 4.8rem;
  width: 4.8rem;
  color: #f8f9fa;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 1px dashed #f8f9fa; */
  border-radius: 10px;
  /* overflow: hidden; */
}

.logo {
  width: 5rem;
  height: 5%;
}

.menu-btn {
  cursor: pointer;
  margin-left: auto;
}

/* Header lines overlay */
.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  pointer-events: none;
}
.lines-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  gap: 0;

  z-index: -1;
}

.line {
  /* border: 1px solid #fff; */
  background-color: black;
  height: 100vh;
  width: calc(100vw / 12);
  transform: scaleY(0);
  transform-origin: 0 100%;
  /* transition: all 0.3s ease-in; added in js*/
}

.line.open {
  transform: scaleY(1);
}

/* Menu overlay */
.menu {
  position: fixed;
  color: #f8f9fa;
  /* color: black; */
  top: 50%;
  left: 50%;
  /* z-index: 3; */
  list-style: none;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  transform: translate(-50%, -50%);
  padding-top: 10rem;
  /* padding-left:10rem; */
}

.main-menu-list {
  display: flex;
  list-style: none;
  gap: 0.4rem;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.6px;
}

.sub-menu-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: "Inter";
}
.sub-menu-heading {
  text-transform: uppercase;
}

.main-menu-item-wrapper {
  /* overflow: hidden; */
}

.main-menu-item {
  transition: all 1s ease;
  transform: scaleY(0);
}
.main-menu-item-wrapper {
  transition: all 1s ease;
}
.main-menu-item.open {
  transform: scaleY(1);
}
.sub-menu-item,
.sub-menu-heading {
  transition: opacity 1s ease 0.8s;
  opacity: 0;
}
.sub-menu-item.open,
.sub-menu-heading.open {
  opacity: 1;
}

/* Hero section */
.hero-section {
  height: 90vh;
}

.hero-img {
  width: 100%;
  height: 90%;
  /* filter: brightness(80%); */
  position: relative;
}

.hero-img-wrapper {
  position: relative;
}
.hero-img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    242deg,
    rgba(255, 255, 255, 0.022373915386467047) 10%,
    rgba(0, 1, 1, 0.7) 85.1%,
    rgba(0, 1, 1, 0.888) 100%
  );
  z-index: 1; /* Ensure the gradient is on top of the image */
  pointer-events: none; /* Allow clicks to pass through the gradient */
}
.hero-text-box {
  max-width: 30%;
  position: absolute;
  bottom: 70%;
  left: 5%;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 2;
}

.hero-text-heading {
  font-size: 4.8rem;
}
.hero-text {
  font-size: 1.6rem;
  line-height: 1.5;
}
.btn-wrapper {
  display: flex;
  gap: 1.6rem;
}
.watch-btn {
  display: flex;
  gap: 0.6rem;
}
/* Movies(shows) gallery section */
.gallery-section {
  display: flex;
  flex-direction: column;
}
.movie-img-wrapper {
  overflow: hidden;
}
.filter-btn-wrapper {
  display: flex;
  gap: 1.6rem;
}
.filter-btn {
  background-color: #212529;
  color: white;
}
.gallery-heading {
  font-size: 2.4rem;
  color: #f8f9fa;
  font-weight: 500;
}
.movie-img {
  width: 17.8rem;
  height: 23.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.movie-img:hover {
  transform: scale(1.05);
}
.movie-section {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

/* CTA Hero section */
.cta-hero-section {
  background-image: url("img/cta.png");
  height: 100vh;
  background-size: cover;
  /* filter: brightness(50%); */
}
.cta-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 2.4rem;
}
.cta-hero-heading {
  font-size: 7.2rem;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #f8f9fa;
}

.cta-hero-text {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #f8f9fa;
}

/* Sponsor Company Movies Carousel Section*/
.company-movies-section {
  height: 100vh;
}
.movie-carousel {
  max-width: 925px;
}
.movie-carousel {
  position: relative;
  width: 80vw;
  height: 60vh;
  border: 3px solid #f8f9fa;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  position: absolute;
  min-width: 100%;
  transition: transform 0.5s ease;
}

.carousel-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.movie-card-bottom-box {
  margin-top: auto;
}

.carousel-btn {
  border: none;
  padding: 1.6rem;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #e03131;
  position: absolute;
}
.chevron-left,
.chevron-right {
  transform: scale(1.5);
}
#carousel-btn-left {
  left: 0;
  transform: translateX(-60%);
}

#carousel-btn-right {
  right: 0;
  transform: translateX(60%);
}

.dot-btn-wrapper {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.dot-btn {
  border: none;
  border-radius: 50%;
  padding: 1rem;
}

/* Testimonials section */
.testimonials-section {
  /* height: 100vh; */

  color: #8b949e;
  border-radius: 10px;
  padding: 4.8rem;
}
.testimonials-grid {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
}
.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
  border: 2px solid #f8f9fa6a;
  border-radius: 10px;
  background-image: radial-gradient(
    105.31% 96.44% at 50% 100.18%,
    rgba(22, 27, 34, 0.64) 0%,
    #161b22 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}
.stars-wrapper {
  margin-bottom: 2rem;
}
.star {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffd43b;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.testimonial-person-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: start;
}
.testimonial-photo {
  grid-row: 1 / span 2;
  height: 5.6rem;
  width: 5.6rem;

  border-radius: 50%;
}

/* Footer Section */
.footer {
  padding: 1.6rem;
  gap: 2.4rem;
  /* background-color: #f8f9fa; */
  font-size: 1.6rem;
}
.footer-logo {
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
  width: 100%;
  border-top: 1px solid #f8f9fa6a;
  padding-top: 5.6rem;
}
.footer-nav {
  flex-shrink: 0;
}
.footer-nav-list,
.footer-policies {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-nav-item a {
  color: #f8f9fa6a;
}
.footer-policies a {
  color: #f8f9fa6a;
}
hr {
  /* flex: 0; */
  width: 100%;
  /* color: blue; */
}
.copyright {
  color: #f8f9fa6a;
}

/* Type Scale System
Scale 0.5: 8 px (0.8 rem)

Scale 1: 16 px (1.6 rem)

Scale 1.5: 24 px (2.4 rem)
Scale 2: 32 px (3.2 rem)
Scale 2.5: 40 px (4.0 rem)
Scale 3: 48 px (4.8 rem)
Scale 3.5: 56 px (5.6 rem)
Scale 4: 64 px (6.4 rem)
Scale 4.5: 72 px (7.2 rem)
Scale 5: 80 px (8.0 rem)
Scale 5.5: 88 px (8.8 rem)
Scale 6: 96 px (9.6 rem)
Scale 6.5: 104 px (10.4 rem)
Scale 7: 112 px (11.2 rem)

Colors:
gray:#212529 #8b949e
black:#0d1117;
white:##f8f9fa
accent:#e03131;
black box:radial-gradient(105.31% 96.44% at 50% 100.18%, rgba(22, 27, 34, 0.64) 0%, #161B22 100%)

Gaps:
.mb--sm {
  margin-bottom: 4.8rem;
}

.mb--md {
  margin-bottom: 8rem;
}

.mb--large {
  margin-bottom: 10.4rem;
}
 */
